@tailwind base;
@tailwind components;
@tailwind utilities;

.scanner-guide {
  background-color: rgba(0, 0, 0, 0.5);
}

.scanner-guide::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 50%;
  background-color: rgba(221, 221, 221, 0.185);
  border-radius: 8px;
}
